.register-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 20rem;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(201, 212, 217);
}
.title {
  color: rgb(43, 95, 120);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.input {
  border-radius: 10px;
  border: none;
  height: 30px;
}

.btn-register,
.btn-login {
  border-radius: 10px;
  background-color: rgb(43, 95, 120);
  border: none;
  height: 35px;
  color: aliceblue;
}
